.list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-items button {
    padding: 1rem;
    margin: 0 1rem;
}

.deleteButton {
    width: 100%;
    height: 100%;
}
.updateButton {
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    border: 1px black solid;
    text-align: center;
    width: 100%;
    height: 100%;
}